@model MVC.Models.Entity.Farm

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Farm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type_Id" class="control-label"></label>
                <select asp-for="Type_Id" class="form-control" asp-items="ViewBag.Type_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Investor_Id" class="control-label"></label>
                <select asp-for="Investor_Id" class="form-control" asp-items="ViewBag.Investor_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Buy_Price" class="control-label"></label>
                <input asp-for="Buy_Price" class="form-control" />
                <span asp-validation-for="Buy_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sell_Price" class="control-label"></label>
                <input asp-for="Sell_Price" class="form-control" />
                <span asp-validation-for="Sell_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treament_Price" class="control-label"></label>
                <input asp-for="Treament_Price" class="form-control" />
                <span asp-validation-for="Treament_Price" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
